/*****************************************TAGSELECTORS*************************************/

/*hr{
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 5px;
    width: 20%; 
}

body{
    background-color: #CCF2F4;
    margin: 0;
    font-family:'Merriweather',serif;
    font-size:2rem;
}





p{
    font-family: 'Montserrat',sans-serrif;
}

*/
/********************************************Heading SELECTORS*******************************************/
/*
.heading-box{
    background-color:#A4EBF3;
    position:relative;
}

.heading{
    margin-top: 0;
    text-align:left;
    font-family: 'Sacramento',cursive;
    font-size: 625%;
    padding: 5px;
    color:#0A043C;
    
    
}

.heading-2{
    font-family: 'Sacramento',cursive;
    display:inline-block;
    position: absolute;
    left:250px;
    top:180px;
    padding-bottom: 8px;
    color:#0A043C;
}



.logo-img{
    position:relative;
    left:800px;
    display:inline-block;


}

.intro{
    text-align: left;
    position: absolute;
    bottom:100px;
    left:0px;
    padding: 50px;
    font-size: 1.5rem;
    color:#060930;
}

*/
/******************************************Logo SELECTORS********************************************/





/*******************************************video SELECTOR***************************************/
/*
.latest-vdo{
    padding:50px;
    text-align: left;
    font-size:1.5rem;
    color:#333456;
}

.playlist{
    text-align: right;
    padding:50px;
    position:relative;
    font-size:1.5rem;
    color:#333456;
}

.fish-text{
    position:absolute;
    top:350px;
    left:450px;
    font-size:1.5rem;
    color:#333456;
}

.setting-text{
    position:absolute;
    top:700px;
    left:450px;
    font-size:1.5rem;
    color:#333456;
}
*/
/*********************************************Information SELECTOR************************************/
/*
.info-txt{
    padding:50px;
    font-family: 'Montserrat',sans-serrif;
    font-size: 1.5rem;
    color:#333456;

}
*/
/*******************************************Video Table SELECTOR****************************************/
/*
.vdo-table{
    text-align: center;
    color:#333456;
}
*/
/********************************************CLASS SELECTORS*******************************************/
/*
.center{
    margin-left: auto;
    margin-right: auto;
}

*/
#title{
    background-color: #A4EBF3;
}

h1{
    font-family: 'Sacramento',cursive;
    font-size:8rem;


}

h3{
    font-family: 'Sacramento',cursive;
    font-size:2rem;
    text-align: center;
    

}

.container-fluid{
    padding:3% 15%;
}

.body{
    font-family: "Montserrat";
}

